# Data Manipulation
pandas
numpy

# Visualization
matplotlib
seaborn
plotly
altair>=5.0.0

# Machine Learning
scikit-learn
xgboost
joblib

# Deployment
streamlit>=1.30.0

# Statistical Analysis
statsmodels
